@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Static Web App with authentication</h1>

<p>
    This sample demonstrates a Blazor Web App (Static Server rendering) on
    .NET&nbsp;10 where users can sign in with either <strong>GitHub</strong>
    or <strong>Microsoft Entra ID (AAD)</strong>.
</p>

<p>
    Try to open the <a href="/secure">Secure</a> page: if you are not signed
    in, you will be redirected to the <a href="/login">Sign in</a> page.
</p>
