@inherits LayoutComponentBase

<header class="page-header">
    <nav class="page-nav">
        <a href="/">Home</a>
        <a href="/secure">Secure</a>
    </nav>
    <LoginDisplay />
</header>

<main class="page-main">
    @Body
</main>
